<h1>All Tags</h1>

<ul id="articles">
  <% @tag.each do |tag| %>
    <li>
      <%= link_to tag.name, tag_path(tag) %>
      <% if logged_in? %>
      <%= link_to "Delete Tag", tag_path(tag), method: :delete, data: {confirm: "Really delete the Tag?"} %>
      <% end %>
    </li>
  <% end %>
  <li><%= link_to "<< Back to Articles List", articles_path %></li>
</ul>